html * {
    font-family: 'ff-din-round-web-pro',sans-serif;
}

/* Custom Properties */

.item-list {
    padding: 20px 0;
}

.item-stats {
    font-family: 'ars-maquette-web',sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #bf1313;
}

.button-margin {
    margin: 0 2%;
}

.article-name:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* Bootstrap overrides */

/* wipe the btn-primary clean for further override */
.btn:hover, .btn:focus, .btn:active, .btn.active, .open>.dropdown-toggle.btn {
    color: #bf1313;
    background-color: white;
    border-color: #bf1313; 
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary, .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled):active:focus {
    color: #bf1313;
    background-color:white;
    border-color: #bf1313;
    box-shadow: none; 
}

.btn, .btn-primary {
    background: #bf1313;

    font-family: 'ars-maquette-web',sans-serif;
    font-weight: bold;
    font-size: 1em;
    color: white;

    border-color: #bf1313;
    border-width: 4px;

    width: 100%;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */

}

.btn-group {
    width: 100%;
    

}